// generated using template: function_prototypes.template
//---------------------------------------------------------------------------------
{% set template = "utils.template" %}
{% from template import header with context %}

{% for f in functions %}
{{header(f)}};

{% endfor %}