// generated using template: main_block.template
//---------------------------------------------------------------------------------


int main(int argc, char *argv[])
{
{% for f in functions %}
    {{f.name}}();
{% endfor %}
}