// generated using template: functions.template
//---------------------------------------------------------------------------------


{% for f in functions %}
{{f.return_type}} {{f.name}}() {

}

{% endfor %}