// generated using template: function_prototypes.template
//---------------------------------------------------------------------------------

{% for f in functions %}
{{f.return_type}} {{f.name}}();

{% endfor %}